<div class="landing page">  
  <div class="container">
    <div class="title-container">
      <% if !mobile_view? && @welcome.present? %>
        <div class="lottie title welcome"></div>
      <% else %>
        <h1>Connect, Collaborate & Contribute</h1>
      <% end %>
    </div>
    <div class="text-container">
      <div class="secondary-text">
        In CoCreation World, people from all over the world build connections that make work feel like play. <a href="/who-we-are">Learn more about us</a>.
      </div>
      <ul class="platform-shortlist">
        <li><a href="https://discourse.org" target="_blank" title="Discourse">
          <div class="image discourse"></div>
        </a></li>
        <li><a href="https://wordpress.org" target="_blank" title="Wordpress">
          <div class="image wordpress"></div>
        </a></li>
        <li><a href="https://auth0.com" target="_blank" title="Auth0">
          <div class="image auth0"></div>
        </a></li>
        <li><a href="https://shopify.com" target="_blank" title="Shopify">
          <div class="image shopify"></div>
        </a></li>
        <li><a href="https://discord.com" target="_blank" title="Discord">
          <div class="image discord"></div>
        </a></li>
        <li><a href="/software" class="more">more</a></li>
      </ul>
    </div>
    <%= render partial: "contact_form", locals: { success_message: "Sent. We'll be in touch shortly." } %>
  </div>
</div>

<div class="page first">
  <div class="container">
    <div class="scene-container">
      <div class="lottie scene rossatto large welcomesoftware"></div>
    </div>
    <div class="text-container">
      <div class="primary-text">
        <span>Connect: Connecting with people from around the world breaks down walls of cultural and ideological barriers dividing humanity, as you welcome diverse people.</span>
      </div>
      <div class="secondary-text">
        Every day a story is shared by people and companies in the CoCreation World library, where a portal awaits you to discover their virtual world, by invitation only. <a href="/discourse">Learn more</a>.
      </div>
    </div>
    <div class="buttons">
      <a href="/software" class="btn btn-primary btn-cta">Learn more</a>
    </div>
  </div>
</div>

<div class="page second">
  <div class="container">
    <div class="scene-container">
      <div class="lottie scene rossatto large welcomeservices"></div>
    </div>
    <div class="text-container">
      <div class="primary-text">
        <span>Collaborate: Collaborating with people from around the world increases your curiosity and reduces your biases, as you celebrate your differences in solving problems.</span>
      </div>
      <div class="secondary-text">
        In CoCreation World, we achieve more together than you could ever achieve on your own. <a href="/members">Learn more</a>.
      </div>
    </div>
    <div class="buttons">
      <a href="/services" class="btn btn-primary btn-cta">Learn more</a>
    </div>
  </div>
</div>

<div class="page third">
  <div class="container">
    <div class="scene-container">
      <div class="lottie scene rossatto large welcomemembers"></div>
    </div>
    <div class="text-container">
      <div class="primary-text">
        <span>Contribute: Contributing with people from around the world to achieve collective goals is an immersive experience, as you cherish the humanity in every person.</span>
      </div>
      <div class="secondary-text">
        In CoCreation World, you can contribute to our sustainable development goals and shape a better world. <a href="/members">Learn more</a>.
      </div>
    </div>
    <div class="buttons">
      <a href="/who-we-are" class="btn btn-primary btn-cta">Learn more</a>
    </div>
  </div>
</div>

<div class="page contact">
  <div class="container">
    <div class="title-container">
      <% if !mobile_view? && @contact %>
        <div class="lottie contact"></div>
      <% else %>
        <h1>Talk to Us</h1>
      <% end %>
    </div>
    <%= render partial: "contact_form" %>
  </div>
</div>

<% if @welcome.present? %>
  <script>
    var title = lottie.loadAnimation({
      container: document.querySelector(".lottie.welcome"),
      renderer: 'svg',
      autoplay: true,
      loop: false,
      path: "<%= @welcome.upload.url %>"
    });
    title.setSpeed(0.2);
  </script>
<% end %>

<% if @welcomesoftware.present? %>
  <script>
    setTimeout(() => {
      lottie.loadAnimation({
        container: document.querySelector(".lottie.welcomesoftware"),
        renderer: 'svg',
        autoplay: true,
        loop: true,
        path: "<%= @welcomesoftware.upload.url %>"
      });
    }, 50);
  </script>
<% end %>

<% if @welcomeservices.present? %>
  <script>
    setTimeout(() => {
      lottie.loadAnimation({
        container: document.querySelector(".lottie.welcomeservices"),
        renderer: 'svg',
        autoplay: true,
        loop: true,
        path: "<%= @welcomeservices.upload.url %>"
      });
    }, 100);
  </script>
<% end %>

<% if @welcomemembers.present? %>
  <script>
    setTimeout(() => {
      lottie.loadAnimation({
        container: document.querySelector(".lottie.welcomemembers"),
        renderer: 'svg',
        autoplay: true,
        loop: true,
        path: "<%= @welcomemembers.upload.url %>"
      });
    }, 150);
  </script>
<% end %>

<% if @contact.present? %>
  <script>
    setTimeout(() => {
      var contact = lottie.loadAnimation({
        container: document.querySelector(".lottie.contact"),
        renderer: 'svg',
        autoplay: true,
        loop: false,
        path: "<%= @contact.upload.url %>"
      });
      contact.setSpeed(0.2);
    }, 200);
  </script>
<% end %>